
//set color variable for website


$yellow:#fff100;
$pink:#ed1e79;
$red:#d20120;
$white:#fff;
$brown:#6d3d0f;

//set font family  variable for website
$text:"Montserrat" , sans-serif;
$heading: "Bangers",cursive;

